<h3>rock paper scissor</h3>
<form action="/name" method="post">
  <label for="player_name">
    what's your name?
    <input type="text" name="player_name" required><br><br>
    <input class="submit" type="submit" value="let's play :)">
  </label> 
</form>
<br>

<div id="shapes-container">
  <div id="rock-shape"></div>
  <div id="paper-shape"></div>
  <div id="scissor-shape"></div>
</div>