<h1><%= @player_name %>, you just <%= @game.result %> !!!!!!</h1>
<a href="/play">play again?</a>

<br>
<br>
<br>

<div id="shapes-container">
  <div id="rock-shape"></div>
  <div id="paper-shape"></div>
  <div id="scissor-shape"></div>
</div>